
.filter-result-item {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  
  }
  
  .filter-result-item:hover {
    background-color: #efefef;
    color: black;
  }
  
  
  
  .filter-result-name{
  /* font-size: smaller; */
  font-weight: bold;font-size: larger;
  }
  
  .filter-result-speciality {
  font-size: smaller; 
  }

  .filter-result-experience{
    font-size: small;
  }