.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
.search-page {
  background-color: rgb(255, 255, 255);
  max-height: 300px;
  display: flex;
  justify-content: space-between;
  width: 100%; 
}


.search-bar-container {
  padding-left: 10px;
  padding-top: 20vh;
  width: 50%; 
  min-width: 200px;


}

.search-filter-container {
  width: 50%; 
  padding-top: 20vh;
}


.search-results-container {
  width: 50%; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; 
}
 */
  .search-page {

  display: flex;
   flex-wrap: wrap; /*Allow content to wrap to the next line if necessary*/
   justify-content: center; 


}

.search-bar-container {
  /* width: calc(70% - 40px); Adjust the width as needed, considering padding */
  width: 80%;
  padding-top: 30px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in width calculation */
  display: flex;
  align-items: center; /* Align content vertically at the center */


}

.search-results-container {
  /* width: calc(90% - 20px); Same width as search-bar-container */
  width: 80%;
  padding: 10px;
  /* padding-right: 10px; Same padding as search-bar-container */
  box-sizing: border-box; /* Include padding in width calculation */
  display: flex; 
  /* align-items: center; Align content vertically at the center */

}

.search-filter-container {
  /* width: 50%; Adjust the width as needed */
  width: 50%;
  margin-left: -25%;

}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
